﻿@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <a asp-controller="Cuenta" asp-action="Registrarse"><h1 class="display-4 fw-normal">¡ÚNETE YA!</h1></a>
      <p class="lead fw-normal">
          Descubre todo lo que puedes lograr con ASP.NET,
          la tecnología de Microsoft para crear aplicaciones web modernas y escalables.
          Aprende a utilizar las herramientas más avanzadas y las mejores prácticas de desarrollo
          para crear aplicaciones de alta calidad que se adapten a tus necesidades y a las de tus usuarios.
          Con ASP.NET, puedes crear desde simples páginas web hasta complejas aplicaciones empresariales,
          y hacerlo de manera eficiente y efectiva.
          Únete a la comunidad de desarrolladores de ASP.NET y comienza a construir el futuro de la web hoy mismo.
      </p>
      <a class="btn btn-outline-secondary" href="#">Próximamente...</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</div>