﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    En  <b>ASPROY</b>, nos tomamos muy en serio la privacidad de nuestros visitantes y usuarios.
    Por lo tanto, hemos creado esta política de privacidad para informarte sobre cómo recopilamos,
    utilizamos y protegemos tu información personal.
    <br />
    <br />
    <h4>1. Recopilación de información</h4>
    <br />
    Cuando visitas <b>ASPROY</b>, recopilamos cierta información de forma automática,
    como la dirección IP, el tipo de navegador, el idioma del navegador,
    la fecha y hora de la visita, y el sitio web desde el que se llegó a nuestra página.
    También podemos utilizar cookies y tecnologías similares para recopilar
    información sobre tu uso de nuestra página.
    <br />    
    Además, si te registras en nuestro sitio o te suscribes a nuestro boletín informativo,
    podemos recopilar información personal como tu nombre, dirección de correo electrónico
    y otra información que decidas proporcionarnos.
    <br />
    <br />
    <h4>2. Uso de información</h4>
    <br />
    La información que recopilamos se utiliza para mejorar la experiencia
    del usuario en nuestro sitio, personalizar el contenido y las promociones
    que se te muestran, y enviarte información relevante sobre nuestros servicios.
    <br />    
    No compartimos tu información personal con terceros, excepto en los casos en que
    sea necesario para proporcionarte un servicio que hayas solicitado,
    como el envío de un boletín informativo.
    <br />
    <br />
    <h4>3. Protección de la información</h4>
    <br />
    Nos tomamos muy en serio la seguridad de la información de nuestros usuarios y visitantes.
    Por lo tanto, implementamos medidas técnicas y organizativas para proteger tu información
    personal contra el acceso no autorizado, la alteración, la divulgación o la destrucción.
    <br />
    <br />
    <h4>4. Tus derechos</h4>
    <br />
    Como usuario de  <b>ASPROY</b>, tienes ciertos derechos con respecto a tus datos personales.
    Puedes solicitar el acceso a tus datos personales, corregirlos si son inexactos,
    solicitar su eliminación o restringir su procesamiento.
    <br />
    <br />
    <h4>5. Cambios a la política de privacidad</h4>
    <br />
    Nos reservamos el derecho de cambiar esta política de privacidad en cualquier momento.
    Cualquier cambio se publicará en esta página y, si es necesario, se te notificará por correo electrónico.
    <br />
    <br />    
    Si tienes alguna pregunta o comentario sobre nuestra política de privacidad, por favor contáctanos.
</p>
