﻿@model IEnumerable<MVC_RV.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>
<form asp-controller="Usuarios" asp-action="Index" method="get">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text"/>
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroNombre"]">  
                    @Html.DisplayNameFor(model => model.Nombre)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroFecha"]">
                    @Html.DisplayNameFor(model => model.Fecha)
                    </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
