﻿@model List<UsersDataVM>
@{
    ViewData["Title"] = "Users";
}

    <h1>Usuarios</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Contraseña</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var users in Model)
        {
                <tr>
                    <td>@Html.DisplayFor(id=>users.Id)</td>
                    <td>@Html.DisplayFor(n=>users.UserName)</td>
                    <td>@Html.DisplayFor(p=>users.UserPassword)</td>
                </tr>
        }
        </tbody>
    </table>