﻿@using MVC_Catálogo_Imágenes.Controllers

@if (CuentaController.IsAuth)
{
  ViewData["Title"] = "Inicio";
  <div class="container-fluid">
            <div class="position-relative overflow-hidden bg-light">
                <div class="mx-auto my-5" style="padding-left:25px;padding-right:25px">
              <h1 class="display-4 fw-normal text-center">¡ÚLTIMAS NOTICIAS!</h1>
              <br />
                  <div class="card">
                      <span style="text-align:left" class="card-header">Arqueología</span><br>
                      <p class="lead fw-normal card-body" style="text-align:justify;padding:15px">
                          Un equipo de arqueólogos acaba de hacer un descubrimiento increíble en el corazón del desierto del Sahara.
                          Han encontrado una ciudad antigua perdida que ha estado enterrada durante miles de años.
                          La ciudad se cree que fue fundada hace más de 3.000 años, y está increíblemente bien conservada.<br><br>
                          Los arqueólogos han quedado maravillados por lo que han encontrado en la ciudad.<br>
                          Hay impresionantes edificios y monumentos, así como otros descubrimientos notables
                          que podrían proporcionar información valiosa sobre la vida y la cultura de los habitantes de la ciudad.<br><br>
                          Se espera que este descubrimiento tenga un impacto significativo en la comprensión que tenemos
                          de la historia y la cultura de la zona. Los arqueólogos están trabajando arduamente para
                          documentar y estudiar cada detalle de la ciudad, con la esperanza de que puedan arrojar
                          más luz sobre la vida en la antigüedad.<br><br>
                          Este descubrimiento es un testimonio del increíble poder de la arqueología
                          para desenterrar los secretos del pasado y ayudarnos a comprender nuestro
                          mundo de una manera completamente nueva. Se espera que este hallazgo atraiga
                          a visitantes y turistas de todo el mundo que estén interesados en aprender
                          más sobre la historia de esta antigua ciudad. ¡Sin duda, se trata de un
                          hallazgo emocionante e histórico para la comunidad arqueológica y para el mundo en general!
                  </p>
                  <span style="text-align:left" class="card-footer">@DateTime.Today.DayOfWeek @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</span><br>

                  </div>
                  
              <br />
                  <div class="card">
                      <span style="text-align:left" class="card-header">Herbología</span><br>
                          <p class="lead fw-normal card-body" style="text-align:justify;padding:15px">
                          Científicos de la Universidad de Stanford han descubierto una nueva especie de planta capaz de absorber
                          niveles récord de dióxido de carbono en la atmósfera. La planta, llamada "Stanfordia carbonis",
                          puede absorber hasta cinco veces más CO2 que cualquier otra planta conocida.<br><br>
                          El descubrimiento ha sido recibido con gran entusiasmo en la comunidad científica y entre
                          los defensores del medio ambiente. Si se puede desarrollar una forma de cultivar y utilizar
                          la Stanfordia carbonis a gran escala, podría ayudar a reducir significativamente los niveles
                          de CO2 en la atmósfera y combatir el cambio climático.<br><br>
                          El equipo de investigación liderado por la Dra. María López ha estado estudiando la planta
                          durante más de cinco años y ha logrado identificar las propiedades que la hacen única en
                          su capacidad para absorber CO2. La planta es resistente a climas extremos y se adapta bien
                          a diferentes tipos de suelo.<br><br>
                          Los científicos esperan que el descubrimiento de la Stanfordia carbonis conduzca a nuevas
                          innovaciones en la agricultura y la tecnología de captura de carbono. También están buscando
                          formas de utilizar la planta para la producción de biocombustibles y otros productos sostenibles.<br><br>
                          La Dra. López declaró: "Este descubrimiento podría ser un gran paso adelante en la lucha contra
                          el cambio climático. Esperamos que nuestra investigación inspire a otros a seguir investigando
                          y desarrollando nuevas soluciones sostenibles".
                  </p>
                      <span style="text-align:left" class="card-footer">Monday 24/4/2023</span><br>

                  </div>
                  
              <br />
                  <div class="card">
                      <span style="text-align:left" class="card-header">Biología</span><br>
                      <p class="lead fw-normal card-body" style="text-align:justify;padding:15px">
                          Un grupo de científicos ha anunciado el descubrimiento de una nueva especie de animal,
                          el ‘Mono arcoíris’, con un pelaje brillante y colorido. Este hallazgo se hizo en una
                          zona remota de la selva que nunca antes había sido explorada,
                          lo que hace que el descubrimiento sea aún más emocionante.<br><br>
                          El equipo de científicos se adentró en la selva amazónica en busca de
                          nuevas especies, y después de varios días de búsqueda, lograron encontrar
                          al ‘Mono arcoíris’. Según el equipo de científicos, esta especie de mono es única
                          y no se parece a ninguna otra especie conocida. El pelaje de colores brillantes
                          y llamativos es sin duda una de las características más distintivas del ‘Mono arcoíris’.<br><br>
                          Los científicos están emocionados por este descubrimiento y están trabajando
                          arduamente para aprender más sobre esta nueva especie. A pesar de que se ha
                          encontrado en una zona remota de la selva amazónica, el ‘Mono arcoíris’
                          podría ser clave para comprender mejor el ecosistema de la selva.
                          Los científicos están estudiando su comportamiento y hábitat para
                          saber cómo esta especie se adapta y sobrevive en un entorno tan hostil.<br><br>
                          El descubrimiento del ‘Mono arcoíris’ es un recordatorio de que todavía
                          hay muchas especies desconocidas en la selva amazónica y otros lugares del mundo.
                          Los científicos esperan que este hallazgo inspire a más investigadores a
                          explorar estas áreas desconocidas y descubrir nuevas especies. Por ahora,
                          la atención está centrada en el ‘Mono arcoíris’ y en lo que podemos aprender
                          de él para proteger la biodiversidad en la selva amazónica.<br><br>
                      </p>
                      <span style="text-align:left" class="card-footer">Saturday 05/11/2022</span><br>
                  </div>                  
              <br />
            </div>
          </div>
        </div>
 
}
else
{
  ViewData["Title"] = "Inicio";
  <div class="text-center container-fluid">
    <div class="position-relative overflow-hidden bg-light">
      <div class="mx-auto my-5" style="padding-left:25px;padding-right:25px">
        
            <h1 class="display-4 fw-normal ">
                   ¡<a asp-controller="Cuenta" asp-action="Registrarse">Únete</a> a ASPROY y descubre un mundo de posibilidades!
            </h1>
        
        <p class="lead fw-normal" style="text-align:justify">
              <br>
              En nuestra plataforma podrás crear tu perfil de usuario con tu biografía y publicaciones,
              además de explorar nuestro catálogo de imágenes únicas y noticias actualizadas a diario.
              No te pierdas la oportunidad de ser parte de una comunidad que comparte tus intereses y pasiones.
              <br>
              ¡Regístrate ahora y empieza a disfrutar de todo lo que ASPROY tiene para ofrecerte!
        </p>
      </div>
    </div>
  </div>
}
  <br />
  <div style="text-align:right;">
            <a id="volver-arriba" class="btn btn-outline-info" href="#">Volver arriba</a>
        </div>

  <br /> 
