﻿@model List<IntroASP.Models.StatsVM>

    <h1>Estadisticas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Tiempo</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var stats in Model)
        {
            <tr>
                <td>@Html.DisplayFor(t=>stats.Tiempo)</td>
            </tr>
        }
        </tbody>
    </table>