﻿@model UsuarioModel

@{
    ViewData["Title"] = "Registro de usuario";
}

@*<h1>Registro de usuarios</h1>

<form method="post" class="form-floating">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input class="form-control" asp-for=Nombre/>
    </div>
     <div class="form-group">
        <label asp-for="Edad"></label>
        <input class="form-control" asp-for=Edad/>
    </div>
    <div class="form-group">
        <label asp-for="Correo"></label>
        <input class="form-control" asp-for=Correo />
    </div>
    <br />
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Registrar</button>
    </div>
</form>
*@

<div class="modal modal-signin position-static d-block bg-light py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="fw-bold mb-0">¡Regístrate ya!</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form class="" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Nombre" class="form-control rounded-3" id="floatingInput" placeholder="InfoToolsSV">
                        <label for="floatingInput" asp-for="Nombre">Nombre</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Edad" class="form-control rounded-3" id="floatingInput" placeholder="30">
                        <label for="floatingInput" asp-for="Edad">Edad</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" asp-for="Correo" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" asp-for="Correo">Email</label>
                    </div>

                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Registrarse</button>
                    <small class="text-muted">Al hacer clic en Registrarse, acepta los términos de uso.</small>
                    <hr class="my-4">
                    <h2 class="fs-5 fw-bold mb-3">O utilice otra aplicación</h2>
                    <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
                        <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter" /></svg>
                        Regístrese con Twitter
                    </button>
                    <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                        <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook" /></svg>
                        Registrate con Facebook
                    </button>
                    <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                        <svg class="bi me-1" width="16" height="16"><use xlink:href="#github" /></svg>
                        Otro
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>