﻿<!DOCTYPE html>
@using MVC_Catálogo_Imágenes.Controllers

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/asp_logo.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/INFOTOOLSSV.styles.css" asp-append-version="true" />
</head>
<body>    
      <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <img src="~/img/asp_logo.png" class="navbar-brand" width="100" height="100"/>              
          </a>
      @if (CuentaController.IsAuth)
      {          
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a class="nav-link px-2 link-dark" asp-controller="Imagen" asp-action="Catalogo">Catálogo</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Ofertas</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Preguntas frecuentes</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Sobre nosotros</a></li>
          </ul>
          <div class="col-md-3 text-end">
                <a type="button" asp-controller="Cuenta" asp-action="Profile" class="btn btn-outline-primary me-2">Perfil</a>
            <a type="button" asp-controller="Cuenta" asp-action="Logout" class="btn btn-danger me-2">Cerrar sesión</a>
          </div> 
      }
      else
      {
          <div class="col-md-3 text-end">
              <a type="button" asp-controller="Cuenta" asp-action="Login" class="btn btn-outline-primary me-2">Iniciar sesión</a>
          </div> 
      }     
    </header>
  </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2023 ASPROY S.A.      
        <span> <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none">Nuestra política de privacidad</a></span>

    </p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="~/img/asp_logo.png" class="bi me-2" width="100" height="100"/>
   </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contacto</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Accesibilidad</a></li>
      @*<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>*@
    </ul>
  </footer>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>