﻿@model List<StatsVM>
@{
    ViewData["Title"] = "Stats";
}
    <h1>Estadisticas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dificultad</th>
                <th>Minas</th>
                <th>Tiempo</th>
                <th>Fecha</th>
            </tr>
            <!--<tr>
                <th>Tiempo</th>
            </tr>-->
        </thead>
        <tbody>
        @foreach (var stats in Model)
        {
            <tr>
                <td>@Html.DisplayFor(n=>stats.Nombre)</td>
                <td>@Html.DisplayFor(d=>stats.Dificultad)</td>
                <td>@Html.DisplayFor(m=>stats.Minas)</td>
                <td>@Html.DisplayFor(t=>stats.Tiempo)</td>
                <td>@Html.DisplayFor(f=>stats.Fecha)</td>
            </tr>
        }
        </tbody>
    </table>
