﻿@using MVC_Catálogo_Imágenes.Controllers

@if (CuentaController.IsAuth)
{
    ViewData["Title"] = "Catálogo";
    @if (ViewBag.Cat != null && ViewBag.Cat.Count > 0)
    {
        <div class="album py-5 bg-light">
            <div class="container">
                @* INICIO TARJETA/CARD *@
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @foreach (var item in ViewBag.Cat)
                    {
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="@item.Imagen" class="card-img-top" style=" object-fit: contain; max-height: 40vh;"/>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Nombre</h5>
                                    <p class="card-text"><b>Nombre: </b>@item.Nombre</p>
                                    <p class="card-text"><b>Fuente: </b><a href="@item.Fuente">NightCafe Studio</a></p>
                                    <a class="btn btn-outline-primary">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @* FIN CARD *@
            </div>
                <br>    <div style="text-align:center;">
                <a asp-action="EditCatalog" asp-controller="Imagen" type="button" class="btn btn-outline-success">Añadir imagen</a>
                </div>
        </div>
        <br />
        <div style="text-align:right;">
        <a id="volver-arriba" class="btn btn-outline-info" href="#">^</a>
        </div>
        <style>
            #volver-arriba {
              transition: all 0.2s ease-in-out;
            }

            #volver-arriba:hover {
              transform: scale(1.1);
            }
            </style>
        <script>
              var boton = document.getElementById("volver-arriba");
              boton.onmouseover = function() {
                boton.innerHTML = "Volver arriba";
              };
              boton.onmouseout = function() {
                boton.innerHTML = "^";
              };
            </script>
        <br />
        <hr />
        <br />
        <center><h1>Todas las imágenes han sido generadas por una IA</h1></center>
        <center><a href="https://nightcafe.studio/ "><h6>&copy; NightCafe Studio </h6></a></center>               
    }
    else
    {
        <center><h1>No se han encontrado imágenes.</h1></center>
    }
}
else
{
    ViewData["Title"] = "Error";
    <center><h1>Error 404: Página no encontrada</h1></center>
}
