﻿@model ImagenModel

@using MVC_Catálogo_Imágenes.Controllers
@if (CuentaController.IsAuth)
{
    ViewBag.Title = "Editor de catálogo";
        <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                    <h1 class="text-center  fw-bold ">Añadir imagen</h1>
                    <br>
                    <hr>
                    <br>
                    <form method="post" class="mx-1 mx-md-4">                  

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" >Nombre</label>
                            <input type="text" class="form-control" asp-for="Nombre" placeholder="Introducir nombre para la imagen"/>                      
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label">URL</label>
                            <input type="url" asp-for="Imagen" class="form-control" placeholder="Introducir URL"/>                      
                        </div>
                      </div>

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label" >Fuente</label>
                                <input type="url" asp-for="Fuente" class="form-control" placeholder="Introducir fuente"/>                      
                            </div>
                          </div>
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" asp-controller="Imagen" asp-action="EditCatalog" class="btn btn-outline-success">Añadir imagen</button>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
}
else
{
    ViewBag.Title = "Error";
    <center><h1>Error 404: Página no encontrada</h1></center>

    
}

 