﻿@model LoginModel

@{
    ViewBag.Title = "Iniciar sesión";
}

<center><h1 class="bg-danger">@ViewData["error"]</h1></center>
<center><h1 class="bg-danger">@ViewData["error2"]</h1></center>

 <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Inicio de sesión</p>

                <form method="post" class="mx-1 mx-md-4">                  

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" >Usuario</label>
                        <input type="text" class="form-control" asp-for="User" placeholder="Introducir nombre de usuario"/>                      
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" >Contraseña</label>
                        <input type="password" asp-for="Password" class="form-control" placeholder="Introducir contraseña"/>                      
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" asp-controller="Cuenta" asp-action="Login" class="btn btn-success btn-lg">Iniciar sesión</button>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <a type="button" asp-controller="Cuenta" asp-action="Registrarse" class="btn btn-outline-warning">Registro</a>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://acortar.link/MjGu3R"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>